.mediaViewInfo {
	--web-view-name: Pokemon Battle;
	--web-view-id: Pokemon_Battle;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Pokemon_Battle;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Pokemon_Battle {
	position: absolute;
	width: 1937px;
	height: 2029px;
	background-color: rgba(118,193,225,1);
	overflow: hidden;
	--web-view-name: Pokemon Battle;
	--web-view-id: Pokemon_Battle;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#player1-card1d {
	position: absolute;
	width: 133px;
	height: 260px;
	left: 363px;
	top: 598px;
	overflow: visible;
}
#Rectangle_42 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_42 {
	position: absolute;
	overflow: visible;
	width: 133px;
	height: 215px;
	left: 0px;
	top: 0px;
}
#Group_11 {
	position: absolute;
	width: 133px;
	height: 39px;
	left: 0px;
	top: 221px;
	overflow: visible;
}
#Rectangle_32 {
	fill: rgba(118,178,51,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_32 {
	position: absolute;
	overflow: visible;
	width: 133px;
	height: 39px;
	left: 0px;
	top: 0px;
}
#Health {
	left: 12px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Group_13 {
	position: absolute;
	width: 568px;
	height: 20px;
	left: 704.245px;
	top: 1051.5px;
	overflow: visible;
}
#githubcomninjanordbo {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#githubcomRobinHerzig {
	left: 189px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#githubcomhasham-m-khan {
	left: 378px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 191px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#attackbtn {
	position: absolute;
	width: 174px;
	height: 106px;
	left: 901px;
	top: 752px;
	overflow: visible;
}
#Rectangle_53 {
	fill: rgba(233,144,154,1);
	stroke: rgba(21,39,39,1);
	stroke-width: 8px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_53 {
	position: absolute;
	overflow: visible;
	width: 174px;
	height: 106px;
	left: 0px;
	top: 0px;
}
#ATTACK {
	left: 34px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(21,39,39,1);
}
#player1cards {
	position: absolute;
	width: 290px;
	height: 536px;
	left: 203px;
	top: 322px;
	overflow: visible;
}
#player1-card1c {
	position: absolute;
	width: 133px;
	height: 260px;
	left: 0px;
	top: 276px;
	overflow: visible;
}
#Rectangle_41 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_41 {
	position: absolute;
	overflow: visible;
	width: 133px;
	height: 215px;
	left: 0px;
	top: 0px;
}
#Group_10 {
	position: absolute;
	width: 133px;
	height: 39px;
	left: 0px;
	top: 221px;
	overflow: visible;
}
#Rectangle_32_w {
	fill: rgba(118,178,51,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_32_w {
	position: absolute;
	overflow: visible;
	width: 133px;
	height: 39px;
	left: 0px;
	top: 0px;
}
#Health_x {
	left: 12px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#player1-card1a {
	position: absolute;
	width: 133px;
	height: 260px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_38 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_38 {
	position: absolute;
	overflow: visible;
	width: 133px;
	height: 215px;
	left: 0px;
	top: 0px;
}
#Group_7 {
	position: absolute;
	width: 133px;
	height: 39px;
	left: 0px;
	top: 221px;
	overflow: visible;
}
#Rectangle_32_ {
	fill: rgba(118,178,51,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_32_ {
	position: absolute;
	overflow: visible;
	width: 133px;
	height: 39px;
	left: 0px;
	top: 0px;
}
#Health_ {
	left: 12px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#player1-card1b {
	position: absolute;
	width: 133px;
	height: 260px;
	left: 157px;
	top: 0px;
	overflow: visible;
}
#Rectangle_39 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_39 {
	position: absolute;
	overflow: visible;
	width: 133px;
	height: 215px;
	left: 0px;
	top: 0px;
}
#Group_9 {
	position: absolute;
	width: 133px;
	height: 39px;
	left: 0px;
	top: 221px;
	overflow: visible;
}
#Rectangle_32_ba {
	fill: rgba(118,178,51,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_32_ba {
	position: absolute;
	overflow: visible;
	width: 133px;
	height: 39px;
	left: 0px;
	top: 0px;
}
#Health_ba {
	left: 12px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#player2-card2select {
	position: absolute;
	width: 290px;
	height: 536px;
	left: 511px;
	top: 322px;
	overflow: visible;
}
#Rectangle_43 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_43 {
	position: absolute;
	overflow: visible;
	width: 290px;
	height: 468px;
	left: 0px;
	top: 68px;
}
#Group_12 {
	position: absolute;
	width: 290px;
	height: 59px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_32_bb {
	fill: rgba(118,178,51,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_32_bb {
	position: absolute;
	overflow: visible;
	width: 290px;
	height: 59px;
	left: 0px;
	top: 0px;
}
#Health_bc {
	left: 25px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(0,0,0,1);
}
#AbilityGroupPlayer1 {
	position: absolute;
	width: 601px;
	height: 163px;
	left: 200px;
	top: 872px;
	overflow: visible;
}
#Ability1-A {
	position: absolute;
	width: 290px;
	height: 74px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_62 {
	fill: rgba(178,228,237,1);
	stroke: rgba(21,39,39,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_62 {
	position: absolute;
	overflow: visible;
	width: 290px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#Ability_player_1_card_A {
	left: 25px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 144px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(21,39,39,1);
}
#Ability1-B {
	position: absolute;
	width: 290px;
	height: 74px;
	left: 311px;
	top: 0px;
	overflow: visible;
}
#Rectangle_63 {
	fill: rgba(178,228,237,1);
	stroke: rgba(21,39,39,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_63 {
	position: absolute;
	overflow: visible;
	width: 290px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#Ability_player_1_card_B {
	left: 25px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 143px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(21,39,39,1);
}
#Ability1-C {
	position: absolute;
	width: 290px;
	height: 74px;
	left: 0px;
	top: 89px;
	overflow: visible;
}
#Rectangle_64 {
	fill: rgba(178,228,237,1);
	stroke: rgba(21,39,39,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_64 {
	position: absolute;
	overflow: visible;
	width: 290px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#Ability_player_1_card_C {
	left: 25px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 143px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(21,39,39,1);
}
#Ability1-D {
	position: absolute;
	width: 290px;
	height: 74px;
	left: 311px;
	top: 89px;
	overflow: visible;
}
#Rectangle_65 {
	fill: rgba(178,228,237,1);
	stroke: rgba(21,39,39,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_65 {
	position: absolute;
	overflow: visible;
	width: 290px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#Ability_player_1_card_D {
	left: 25px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 144px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(21,39,39,1);
}
#Player1txt {
	position: absolute;
	width: 290px;
	height: 131px;
	left: 200px;
	top: 155px;
	overflow: visible;
}
#Group_42 {
	position: absolute;
	width: 290px;
	height: 131px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_19 {
	position: absolute;
	width: 290px;
	height: 131px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Player 1 {
	position: absolute;
	width: 290px;
	height: 131px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_2 {
	fill: rgba(215,226,110,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_2 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 308px;
	height: 149px;
	left: 0px;
	top: 0px;
}
#PLAYER_1 {
	left: 42px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 205px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: bold;
	font-size: 49px;
	color: rgba(0,0,0,1);
}
#Ellipse_4 {
	fill: rgba(215,226,110,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_4 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 308px;
	height: 149px;
	left: 0px;
	top: 0px;
}
#player1 {
	position: absolute;
	width: 215px;
	height: 86px;
	left: 38px;
	top: 28px;
	overflow: visible;
}
#player2-card2a {
	position: absolute;
	width: 133px;
	height: 260px;
	left: 1488px;
	top: 322px;
	overflow: visible;
}
#Rectangle_31 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_31 {
	position: absolute;
	overflow: visible;
	width: 133px;
	height: 215px;
	left: 0px;
	top: 0px;
}
#Group_1 {
	position: absolute;
	width: 133px;
	height: 39px;
	left: 0px;
	top: 221px;
	overflow: visible;
}
#Rectangle_32_b {
	fill: rgba(118,178,51,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_32_b {
	position: absolute;
	overflow: visible;
	width: 133px;
	height: 39px;
	left: 0px;
	top: 0px;
}
#Health_b {
	left: 12px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#player2-card2b {
	position: absolute;
	width: 133px;
	height: 260px;
	left: 1648px;
	top: 322px;
	overflow: visible;
}
#Rectangle_34 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_34 {
	position: absolute;
	overflow: visible;
	width: 133px;
	height: 215px;
	left: 0px;
	top: 0px;
}
#Group_3 {
	position: absolute;
	width: 133px;
	height: 39px;
	left: 0px;
	top: 221px;
	overflow: visible;
}
#Rectangle_32_ca {
	fill: rgba(118,178,51,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_32_ca {
	position: absolute;
	overflow: visible;
	width: 133px;
	height: 39px;
	left: 0px;
	top: 0px;
}
#Health_ca {
	left: 12px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#player2-card2c {
	position: absolute;
	width: 133px;
	height: 260px;
	left: 1489px;
	top: 597px;
	overflow: visible;
}
#Rectangle_35 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_35 {
	position: absolute;
	overflow: visible;
	width: 133px;
	height: 215px;
	left: 0px;
	top: 0px;
}
#Group_4 {
	position: absolute;
	width: 133px;
	height: 39px;
	left: 0px;
	top: 221px;
	overflow: visible;
}
#Rectangle_32_cb {
	fill: rgba(118,178,51,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_32_cb {
	position: absolute;
	overflow: visible;
	width: 133px;
	height: 39px;
	left: 0px;
	top: 0px;
}
#Health_cc {
	left: 12px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#player2cards {
	position: absolute;
	width: 133px;
	height: 260px;
	left: 1649px;
	top: 597px;
	overflow: visible;
}
#Rectangle_36 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_36 {
	position: absolute;
	overflow: visible;
	width: 133px;
	height: 215px;
	left: 0px;
	top: 0px;
}
#Group_5 {
	position: absolute;
	width: 133px;
	height: 39px;
	left: 0px;
	top: 221px;
	overflow: visible;
}
#Rectangle_32_cg {
	fill: rgba(118,178,51,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_32_cg {
	position: absolute;
	overflow: visible;
	width: 133px;
	height: 39px;
	left: 0px;
	top: 0px;
}
#Health_ch {
	left: 12px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#player2-card2select_ci {
	position: absolute;
	width: 290px;
	height: 535px;
	left: 1184px;
	top: 323px;
	overflow: visible;
}
#Rectangle_44 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_44 {
	position: absolute;
	overflow: visible;
	width: 290px;
	height: 468px;
	left: 0px;
	top: 67px;
}
#Group_14 {
	position: absolute;
	width: 290px;
	height: 59px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_32_cl {
	fill: rgba(118,178,51,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_32_cl {
	position: absolute;
	overflow: visible;
	width: 290px;
	height: 59px;
	left: 0px;
	top: 0px;
}
#Health_cm {
	left: 25px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(0,0,0,1);
}
#Group_49 {
	position: absolute;
	width: 601px;
	height: 163px;
	left: 1184px;
	top: 872px;
	overflow: visible;
}
#Ability2-A {
	position: absolute;
	width: 290px;
	height: 74px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_66 {
	fill: rgba(178,228,237,1);
	stroke: rgba(21,39,39,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_66 {
	position: absolute;
	overflow: visible;
	width: 290px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#Ability_player_2_card_A {
	left: 25px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 144px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(21,39,39,1);
}
#Ability2-B {
	position: absolute;
	width: 290px;
	height: 74px;
	left: 311px;
	top: 0px;
	overflow: visible;
}
#Rectangle_67 {
	fill: rgba(178,228,237,1);
	stroke: rgba(21,39,39,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_67 {
	position: absolute;
	overflow: visible;
	width: 290px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#Ability_player_2_card_B {
	left: 25px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 144px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(21,39,39,1);
}
#Ability2-C {
	position: absolute;
	width: 290px;
	height: 74px;
	left: 0px;
	top: 89px;
	overflow: visible;
}
#Rectangle_68 {
	fill: rgba(178,228,237,1);
	stroke: rgba(21,39,39,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_68 {
	position: absolute;
	overflow: visible;
	width: 290px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#Ability_player_2_card_C {
	left: 25px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 144px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(21,39,39,1);
}
#AbilityGroupPlayer2 {
	position: absolute;
	width: 290px;
	height: 74px;
	left: 311px;
	top: 89px;
	overflow: visible;
}
#Rectangle_69 {
	fill: rgba(178,228,237,1);
	stroke: rgba(21,39,39,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_69 {
	position: absolute;
	overflow: visible;
	width: 290px;
	height: 74px;
	left: 0px;
	top: 0px;
}
#Ability_player_2_card_D {
	left: 25px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(21,39,39,1);
}
#Group_45 {
	position: absolute;
	width: 290px;
	height: 131px;
	left: 1484px;
	top: 155px;
	overflow: visible;
}
#Group_44 {
	position: absolute;
	width: 290px;
	height: 131px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_42_c {
	position: absolute;
	width: 290px;
	height: 131px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_19_c {
	position: absolute;
	width: 290px;
	height: 131px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Player 1_c {
	position: absolute;
	width: 290px;
	height: 131px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_2_c {
	fill: rgba(215,226,110,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_2_c {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 308px;
	height: 149px;
	left: 0px;
	top: 0px;
}
#PLAYER_1_c {
	left: 42px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 205px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: bold;
	font-size: 49px;
	color: rgba(0,0,0,1);
}
#Ellipse_4_c {
	fill: rgba(215,226,110,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_4_c {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 308px;
	height: 149px;
	left: 0px;
	top: 0px;
}
#player2 {
	position: absolute;
	width: 226px;
	height: 82px;
	left: 32px;
	top: 25px;
	overflow: visible;
}
#HeaderPokemon {
	position: absolute;
	width: 399px;
	height: 177px;
	left: 795px;
	top: 30px;
	overflow: visible;
}
#headerimg {
	position: absolute;
	width: 399px;
	height: 177px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_1 {
	fill: rgba(215,226,110,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 417px;
	height: 195px;
	left: 0px;
	top: 0px;
}
#BATTLES {
	left: 128px;
	top: 105px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	text-align: left;
	font-family: Kohinoor Bangla;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(0,0,0,1);
}
#Pokemon {
	position: absolute;
	width: 313px;
	height: 115px;
	left: 37px;
	top: 10px;
	overflow: visible;
}